* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/**REVIEW -  Container hissəsi */
.container {
    width: 900px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 50px;
}

h1 {
    text-align: center;
}

/**REVIEW - Birinci hissə və bütün h2'lər və class'ı (əyri) olan (p) və sadə (p) teqi */
h2 {
    margin: 30px 0px;
    color: brown;
    border-bottom: 2px dotted brown;
}

.one-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
}

.əyri {
    font-style: italic;
}

p {
    line-height: 150%;
    text-align: justify;
    font-size: 18px;
}

/**REVIEW -  İkinci hissə */
.two-img {
    width: 200px;
    height: 200px;
    float: right;
    margin-left: 15px;
}

/**REVIEW -  Üçüncü hissə */
.three-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
}

/**REVIEW -  Dördüncü hissə */
.four-img {
    width: 200px;
    height: 200px;
    float: right;
    margin-left: 15px;
}